@import 'reset';
@import 'variables';
@import 'sidebar';
@import 'layout';
@import 'mailCard';
@import 'searchAndFilters';
@import 'toolbar';
@import 'emailDetail';
@import 'calendar-event';
@import 'composeButton';
@import 'composeModal';
@import 'userHeader';
@import 'toast';
@import 'inbox';
@import 'loader';
@import 'noMails';
@import 'ReplyComposer';


.btn.o-livechat-LivechatButton {
  display: none !important;
}

.o_mail_app_container .toast-container,
.o_mail_app_container .toast {
  z-index: 999999 !important;
  position: fixed !important;
}

