@import 'reset';
@import 'variables';
@import 'sidebar';
@import 'layout';
@import 'mailCard';
@import 'searchAndFilters';
@import 'toolbar';
@import 'emailDetail';
@import 'calendar-event';
@import 'composeButton';
@import 'composeModal';
@import 'userHeader';
@import 'toast';
@import 'inbox';
@import 'loader';
@import 'noMails';
@import 'ReplyComposer';


.o-livechat-root,
.btn.o-livechat-LivechatButton {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

@media (max-width: 500px) {
  .mainContent{
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
